.mainsliderSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1700px;
  height: 100%;
}
.headerImg {
  margin: 30px;
}
.leftArrow1 {
  left: 0;
}
.rightArrow1 {
  right: 0;
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 15px;
  background: rgb(239, 239, 239);
  padding-bottom: 15px;
}
.category {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1700px;
  flex-wrap: wrap;
  flex-direction: row;
}
.category div {
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  height: 200px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.todaysDeal,
.seasonSale {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  padding: 100px;
}
.heading {
  margin-bottom: 20px;
}
.slider {
  display: flex;
  max-width: 1700px;
  background-color: rgb(234, 234, 234);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black);
  padding: 10px;
  border-radius: 10px;
}
.sliding {
  display: flex;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  left: 0;

  scroll-behavior: smooth;
  transition: all 1s ease-in;

  border-radius: 10px;
}
.sliding div {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliding div img {
  border-radius: 10px;
}
.arrowR1,
.arrowR2 {
  margin-left: 10px;
}
.arrowL1,
.arrowL2 {
  margin-right: 10px;
}
@media screen and (max-width: 1300px) and (min-width: 900px) {
  .sliding {
    width: 700px;
  }
}
@media screen and (max-width: 900px) and (min-width: 600px) {
  .sliding {
    width: 500px;
  }
}
@media screen and (max-width: 600px) {
  .todaysDeal,
  .seasonSale {
    padding: 0;
  }
  .sliding {
    width: 200px;
  }
  .sliding div img {
    width: 100px;
    height: 100px;
  }
  .arrowR1,
  .arrowL1,
  .arrowR2,
  .arrowL2 {
    width: 10px;
    margin: 2px;
  }
  .slider {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
