.mainsliderSection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.sliderMain {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 1700px;

  scroll-behavior: smooth;
}
.arrowL0,
.arrowR0 {
  position: absolute;
}

.arrowL0 {
  left: 10px;
  top: 60%;
}
.arrowR0 {
  right: 10px;
  top: 60%;
}
.slidingMain {
  display: flex;
}

.headerImg {
  margin: 30px;
}
.leftArrow1 {
  left: 0;
}
.rightArrow1 {
  right: 0;
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-top: 15px;
  background: rgb(239, 239, 239);
  padding-bottom: 15px;
}
.category {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1700px;
  flex-wrap: wrap;
  flex-direction: row;
}
.category div {
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  margin: 20px;
  cursor: pointer;
  height: 200px;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.todaysDeal,
.seasonSale {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
}
.heading {
  white-space: nowrap;
}
.slider {
  display: flex;
  max-width: 1700px;
  background-color: rgb(234, 234, 234);
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black);
  padding: 10px;
  border-radius: 10px;
}
.sliding {
  display: flex;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
  left: 0;

  scroll-behavior: smooth;
  transition: all 1s ease-in;

  border-radius: 10px;
}
.sliding div {
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliding div img {
  border-radius: 10px;
}
.arrowR1,
.arrowR2 {
  margin-left: 10px;
}
.arrowL1,
.arrowL2 {
  margin-right: 10px;
}
@media screen and (max-width: 1300px) and (min-width: 1100px) {
  .sliding {
    width: 1000px;
  }
  .arrowR1,
  .arrowL1,
  .arrowR2,
  .arrowL2 {
    width: 10px;
    margin: 2px;
  }
}
@media screen and (max-width: 1100px) and (min-width: 1000px) {
  .sliding {
    width: 900px;
  }
  .arrowR1,
  .arrowL1,
  .arrowR2,
  .arrowL2 {
    width: 15px;
    margin: 2px;
  }
}
@media screen and (max-width: 1000px) and (min-width: 900px) {
  .sliding {
    width: 800px;
  }
  .arrowR1,
  .arrowL1,
  .arrowR2,
  .arrowL2 {
    width: 15px;
    margin: 2px;
  }
  .sliderMain {
    overflow-x: scroll;
  }
  .slidingMain img {
    width: 100vw;
  }
  .sliderMain {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 900px) and (min-width: 800px) {
  .sliding {
    width: 700px;
  }
  .arrowR1,
  .arrowL1,
  .arrowR2,
  .arrowL2 {
    width: 15px;
    margin: 2px;
  }

  .slidingMain div {
    width: 100vw;
  }
  .slidingMain img {
    width: 100vw;
  }
  .sliderMain {
    overflow-x: scroll;
  }
}
@media screen and (max-width: 800px) and (min-width: 600px) {
  .sliding {
    width: 500px;
  }
  .arrowR1,
  .arrowL1,
  .arrowR2,
  .arrowL2 {
    width: 15px;
  }
  .sliderMain {
    overflow-x: scroll;
  }
  .slidingMain div {
    width: 100vw;
  }
  .slidingMain img {
    width: 100vw;
  }
}
@media screen and (max-width: 600px) and (min-width: 500px) {
  .todaysDeal,
  .seasonSale {
    padding: 0;
  }
  .sliding {
    width: 450px;
  }
  .sliding div img {
    width: 150px;
    height: 150px;
  }
  .arrowR1,
  .arrowL1,
  .arrowR2,
  .arrowL2,
  .arrowL0,
  .arrowR0 {
    width: 10px;
    margin: 2px;
  }
  .sliderMain {
    overflow-x: scroll;
  }
  .slidingMain div {
    width: 100vw;
  }
  .slidingMain img {
    width: 100vw;
  }
}
@media screen and (max-width: 500px) and (min-width: 400px) {
  .todaysDeal,
  .seasonSale {
    padding: 0;
  }
  .sliding {
    width: 400px;

    overflow: scroll;
    padding: 0px;
  }
  .sliding div img {
    width: 150px;
    height: 150px;
  }
  .arrowR1,
  .arrowL1,
  .arrowR2,
  .arrowL2,
  .arrowL0,
  .arrowR0 {
    display: none;
  }
  .sliderMain {
    overflow-x: scroll;
  }
  .slidingMain div {
    width: 100vw;
  }
  .slidingMain img {
    width: 100vw;
  }
}
@media screen and (max-width: 400px) {
  .sliding {
    width: 280px;
    overflow: scroll;

    padding: 0px;
  }
  .sliding div img {
    width: 100px;
    height: 100px;
  }
  .arrowR1,
  .arrowL1,
  .arrowR2,
  .arrowL2,
  .arrowL0,
  .arrowR0 {
    display: none;
  }
  .sliderMain {
    overflow-x: scroll;
  }
  .slidingMain div {
    width: 100vw;
  }
  .slidingMain img {
    width: 100vw;
  }
}
